/* jurgfish */

@font-face {
    /* Font Design by Christian Robertson */
    src: url(vis/roboto-slab.ttf);
    font-family: RobotoSlab;
}

body {
    font-family: "RobotoSlab";
    font-size: 18px;
    color: #4a4a4a;
    background-color: black;
    background-image: url('vis/islandofmind-00.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    overflow-anchor: none;
}

img {
    display: block;
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
}
#logo {
    cursor: pointer;
    margin-top: 26vh;
}
#logotxt {
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 26vmin;
}

p {
    text-align: justify;
    line-height: 29px;
    visibility: hidden;
    cursor: default;
    margin-top: 0px;
    margin-bottom: 29px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
#cpr {
    text-align: center;
    top: 29px;
}

a, a:link, a:visited {
    color: #18919c;
    text-decoration: underline;
}
a:hover, a:focus {
    outline: none;
    color: #4a4a4a;
    cursor: pointer;
}
a:active {
    outline: none;
    color: #18919c;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #f8e6d3;
        background-color: #4a4a4a;
    }
    a, a:link, a:visited { color: #89c7cd; }
    a:hover, a:focus { color: #f8e6d3; }
    a:active { color: #f8e6d3; }
}

@media (min-width: 662px) {
    body { width: 600px; }
}
@media (max-width: 662px) {
    body { width: 90%; }
    img { max-width: 100%; height: auto; }
}


