/* styling */

img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

h4 {
    font-family: Monaco, monospace;
    font-size: 24px;
    text-align: center;
    visibility: hidden;
}

@media (min-width: 0px) {
    p {
        width:600px; 
        font-family: Monaco, monospace;
        font-size: 16px;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        visibility: hidden;
    }
}

@media (max-width: 630px) {
    p {
        width:95vw; 
        font-family: Monaco, monospace;
        font-size: 16px;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        visibility: hidden;
    }
}

div.space {
    height: 21vh;
}
