/* jurgfish */

.centered > * {
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Roboto Slab";
    font-size: 18px;
    color: #555555;

    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select:none;
}

img {
    display: block;
    visibility: hidden;
    cursor: pointer;
}

h4 {
    font-weight: normal;
    font-size: 28px;
    color: #000000;
    text-align: center;
    visibility: hidden;
    cursor: default;
    margin-top: 12px;
    margin-bottom: 2em;
}

form {
    display: none;
    text-align: center;
    margin-bottom: 28px;
}

input {
    font-family: "Roboto Slab";
    font-size: 18px;
    color: #48c1cc;
    background-color: #ffffff;
    text-align: left;

    outline: none;
    border: 2px;
    border-radius: 8px;
    border-style: solid;
    border-color: #eeeeee;

    width: 80px;
    padding: 8px 2px 8px 22px;
    margin-right: 8px;
    box-sizing: border-box;
}
input:focus {
    outline: none;
    color: #28a1ac; 
    border-color: #28a1ac;
}
input:focus:invalid {
    outline: none;
    color: #cd5c5c; 
    border-color: #cd5c5c;
}
input:invalid {
    outline: none;
    color: #ed7c7c; 
    border-color: #eeeeee;
}

p {
    line-height: 28px;
    overflow: hidden;
    visibility: hidden;
    cursor: default;
    margin-bottom: 28px;
}

a, a:link, a:visited {
    color: #48c1cc;
    text-decoration: none;
}
a:hover, a:focus { 
    outline: none;
    color: #28a1ac;
    text-decoration: underline;
    cursor: pointer;
}
a:active {
    outline: none;
    color: #48c1cc;
    text-decoration: underline;
    cursor: pointer;
}

#butt {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;

    font-family: "Roboto Slab";
    font-size: 18px;
    color: #48c1cc;
    background-color: #ffffff;
    text-align: center;

    outline: none;
    border: 2px;
    border-radius: 8px;
    border-style: solid;
    border-color: #eeeeee;
    
    padding: 8px 15px 8px 15px;
    cursor: pointer;
}

#butt:hover {
    outline: none;
    color: #28a1ac; 
    border-color: #28a1ac;
}

@media (min-width: 0px) {
    h4, form, .space { width: 600px; }
    p { width: 600px; text-align: justify; }
}
@media (max-width: 660px) {
    h4, form, .space { width: 93%; }
    p { width: 93%; text-align: left; }
}
@media print { a, a:link, a:visited, a:focus { color: #555555; } }

#endspace { height: 24em; }



