img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

h4 {
    font-family: Georgia;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    visibility: hidden;
}

p {
    font-family: Georgia;
    font-size: 18px;
    line-height: 26px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    visibility: hidden;
}

.links a {
    color: gray;
    text-decoration: none;
}
.links a:link {
    color: lightskyblue;
    text-decoration: none;
}
.links a:hover {
    color: mediumturquoise;
    text-decoration: underline;
}
.links a:visited {
    color: gray;
    text-decoration: none;
}

@media (min-width: 0px) {
    p {
        width:600px; 
        text-align: justify;   
    }
}
@media (max-width: 630px) {
    p {
        width:95vw;
        text-align: justify;
    }
}

div.space { height: 12vh; }
div.halfspace { height: 50vh; }
