/* jurgfish */

@font-face {
    /* Font Design by Christian Robertson */
    src: url(../vis/roboto-slab.ttf);
    font-family: RobotoSlab;
}

body {
    font-family: "RobotoSlab";
    font-size: 18px;
    font-weight: 350;
    color: #4a4a4a;
    background-color: #f8e6d3;
    margin: 0;
    min-height: 100%;
    overflow-anchor: none;
}
#hold {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

h2 {
    font-weight: 400;
    font-size: 29px;
    visibility: hidden;
    text-align: center;
    cursor: pointer;
}
form {
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    margin-bottom: 30px;
}
input[type=tel] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "RobotoSlab";
    font-size: 18px;
    color: #4a4a4a;
    background-color: #f8e6d3;
    text-align: left;
    outline: none;
    border: 2px;
    border-radius: 8px;
    border-style: solid;
    border-color: #4a4a4a;
    width: 84px;
    padding: 12px 14px 12px 14px;
    box-sizing: border-box;
}
input:focus {
    outline: none;
    color: #18919c;
    border-color: #18919c;
}
input:focus:invalid {
    outline: none;
    color: #cd5c5c;
    border-color: #cd5c5c;
}
input:invalid {
    outline: none;
    color: #ed7c7c;
    border-color: #ed7c7c;
}

p {
    text-align: justify;
    line-height: 30px;
    visibility: hidden;
    cursor: default;
    margin-top: 0px;
    margin-bottom: 30px;
}
.section { text-align: center; }

#author, #dedicate {
    font-weight: 400;
    text-align: center;
}
#author { margin-bottom: 20vmin; }
#cpr {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}

a, a:link, a:visited {
    color: #18919c;
    text-decoration: underline;
}
a:hover, a:focus {
    outline: none;
    color: #4a4a4a;
    cursor: pointer;
}
a:active {
    outline: none;
    color: #18919c;
    cursor: pointer;
}

#jump, #bott, #ttop {
    color: #4a4a4a;
    background-color: #f8e6d3;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: 2px;
    border-radius: 8px;
    border-style: solid;
    border-color: #4a4a4a;
    cursor: pointer;
}
#jump-box { margin: 30px 8px; }
#jump, #bott { padding: 12px 14px 12px 14px; }
#jump:focus #bott:focus {
    outline: none;
    color: #18919c;
    border-color: #18919c;
    text-decoration: none;
    cursor: pointer;
}
#ttop {
    font-weight: 400;
    display: none;
    position: fixed;
    right: 30px;
    z-index: 99;
    padding: 12px 20px 12px 17px;
}
#jump:hover, #bott:hover, #ttop:hover {
    outline: none;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #f8e6d3;
        background-color: #4a4a4a;
    }
    input[type=tel] {
        color: #f8e6d3;
        background-color: #4a4a4a;
        border-color: #f8e6d3;
    }
    input:focus {
        color: #89c7cd;
        border-color: #89c7cd;
    }
    input:focus:invalid {
        color: #ed7c7c;
        border-color: #ed7c7c;
    }
    input:invalid {
        color: #cd5c5c;
        border-color: #cd5c5c;
    }

    a, a:link, a:visited { color: #89c7cd; }
    a:hover, a:focus { color: #f8e6d3; }
    a:active { color: #89c7cd; }
    #jump, #bott, #ttop {
        color: #f8e6d3;
        background-color: #4a4a4a;
        border-color: #f8e6d3;
    }
    #jump:focus, #bott:focus {
        color: #89c7cd;
        border-color: #89c7cd;
    }
}

@media (min-width: 662px) {
    #hold { width: 600px; }
    p {
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
    #ttop { bottom: 30px }
    #jump:hover, #bott:hover, #ttop:hover {
        color: #18919c;
        border-color: #18919c;
    }
    #jump:active, #bott:active, #ttop:active {
        color: #4a4a4a;
        border-color: #4a4a4a;
    }
}
@media (min-width: 662px) and (prefers-color-scheme: dark) {
    #jump:hover, #bott:hover, #ttop:hover {
        color: #89c7cd;
        border-color: #89c7cd;
    }
    #jump:active, #bott:active, #ttop:active {
        color: #f8e6d3;
        border-color: #f8e6d3;
    }
}
@media (max-width: 662px) {
    #hold { width: 90%; }
    p { text-align: left; }
    #ttop { bottom: 69px; }
    #jump:hover, #bott:hover, #ttop:hover, #jump:active, #bott:active, #ttop:active  {
        color: #4a4a4a;
        border-color: #4a4a4a;
    }
}
@media (max-width: 662px) and (prefers-color-scheme: dark) {
    #jump:hover, #bott:hover, #ttop:hover, #jump:active, #ttop:active, #ttop:active {
        color: #f8e6d3;
        border-color: #f8e6d3;
    }
}

#startspace { height: 30vmin; }
#endspace { height: 100vh; }


