/* jurgfish */

@font-face {
    /* Font Design by Christian Robertson */
    src: url(../vis/roboto-slab.ttf);
    font-family: RobotoSlab;
}

body {
    font-family: "RobotoSlab";
    font-size: 18px;
    font-weight: 400;
    color: #f8e6d3;
    background-color: #000000;

    margin: 0;
    min-height: 100%;
    overflow-anchor: none;
}
#hold {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

img {
    display: block;
    visibility: hidden;
}
#face {
    height: 100vh;
    min-height: 36em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#logo { cursor: pointer; }
#logotxt {
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 58px;
}
p {
    text-align: justify;
    line-height: 30px;
    visibility: hidden;
    cursor: default;
    margin-top: 0px;
    margin-bottom: 30px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
#cpr {
    text-align: center;
    margin-bottom: 0px;
}
#endspace { height: 30px; }

a, a:link, a:visited {
    color: #89c7cd;
    text-decoration: underline;
}
a:hover, a:focus {
    outline: none;
    color: #f8e6d3;
    cursor: pointer;
}
a:active {
    outline: none;
    color: #89c7cd;
    cursor: pointer;
}

@media (min-width: 562px) {
    #hold { width: 500px; }
}
@media (max-width: 562px) {
    #hold { width: 90%; }
    img { max-width: 100%; height: auto; }
}


